<!DOCTYPE html>
<html>
  <head>
    <title>Auto Trgovina</title>
    <link href="/stylesheets/output.css" rel="stylesheet">
  </head>
  <body class="bg-off-white">
    <%- include('./components/navigation'); %>

    <main class="container mx-auto my-10 p-4 h-dvh">
      <div class="text-center mb-10">
        <h2 class="text-4xl font-bold mb-4">Welcome to Auto Trgovina</h2>
        <p class="text-xl text-dark-blue">Find your perfect car with us</p>
      </div>
      <div class="grid md:grid-cols-3 gap-6">
        <div class="bg-white p-6 rounded-lg shadow-md transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
          <img src="/images/car1.jpg" alt="Car" class="w-full h-48 object-cover rounded-t-lg">
          <h3 class="text-2xl font-bold mt-4">Vintage</h3>
          <p class="text-gray-600 mt-2"> Vintage automobil odiše retro šarmom i poviješću, sa stilom koji vraća uspomene na prošla desetljeća</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
          <img src="/images/car2.jpg" alt="Car" class="w-full h-48 object-cover rounded-t-lg">
          <h3 class="text-2xl font-bold mt-4">Sports</h3>
          <p class="text-gray-600 mt-2">Sportski automobil nudi uzbuđenje visokih performansi, brzinu i agilnost, dizajniran za dinamičnu vožnju i adrenalinske doživljaje</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
          <img src="/images/car3.jpg" alt="Car" class="w-full h-48 object-cover rounded-t-lg">
          <h3 class="text-2xl font-bold mt-4">City</h3>
          <p class="text-gray-600 mt-2">Gradski automobil je kompaktan i praktičan, savršen za lako manevriranje i parkiranje u užurbanim urbanim sredinama</p>
        </div>
      </div>
    </main>

    <%- include('./components/footer'); %>
  </body>
</html>
