<!DOCTYPE html>
<html>
  <% include('./components/head', "Marke - Auto Trgovina"); %>

  <body class="bg-off-white">
    <%- include('./components/navigation'); %>

    <%- include('./components/footer'); %>
  </body>
</html>
