<div id="drop-zone" class="flex flex-col items-center justify-center border border-dashed border-gray-blue bg-dark-white rounded-md w-full">
  <label for="slikaUrl" class="text-gray-blue font-bold mb-2">Slika</label>
  <input type="file" id="slikaUrl" name="slikaUrl" class="hidden" accept="image/*">
  <div class="text-dark-blue">Drag and drop or click to upload</div>
  <img src="<%= slika %>" alt="Preview" class="<%= slika ? "" : "hidden" %>w-32 h-32 object-cover rounded-md" id="preview">
</div>
