<nav>
  <div class="container mx-auto flex justify-between items-center py-5">
    <a href="/" class="text-2xl font-bold text-dark-blue flex items-center gap-1">
      autotrgovina
      <%- include('./icons/car'); %>
    </a>
    <ul class="flex">
      <li class="mx-2">
        <a href="/cars" class="text-dark-blue hover:text-blue">Cars</a>
      </li>
      <li class="mx-2">
        <a href="/about" class="text-dark-blue hover:text-blue">Sellers</a>
      </li>
      <li class="mx-2">
        <a href="/contact" class="text-dark-blue hover:text-blue">Contact</a>
      </li>
    </ul>
  </div>
</nav>
